   
    <form action="/upload1.hbs" method="post">
        <div class="row align-items-end">
            <div class="col">
                <span><b>название товара:</b></span>
                <ul>
                    {{#each resname}}
                        <li class="liname"><textarea  name="req_name" class="name">{{this}}</textarea></li>
                    {{/each}}
                </ul>
            </div>
            <div class="col">
                <div><span><b>Поисковые запросы:</b></span></div>
                <ul>
                    {{#each resfind}}
                        <li class="lifind"><textarea name="req_find" class="find">{{this}}</textarea></li>
                    {{/each}}
                </ul>
            </div>
            <div class="col">
                <div><span><b>Название группы:</b></span></div>
                <ul>
                    {{#each resgroup}}
                        <li class="ligroup"><textarea name="req_group" class="group">{{this}}</textarea></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    <input type="submit" value="Отправить" />
</form>
    
<div><button id="find">изм поиск запрос</button></div>
<form action="/upload1.hbs" method="get">
    <input type="submit" value="Download" />
</form> 
